addict
diffusers
huggingface_hub
matplotlib
numpy
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
# torch==2.3.1
# torchvision==1.18.1
transformers
yapf
nltk
fairscale
litellm
segment-anything
onnx
